// @tailwind base;
// @tailwind components;
// @tailwind utilities;

@import "register.scss";
@import "edit_acc.scss";

$gradientBg: linear-gradient(180deg, #5A4F7780 50%, #3A374200 0%);

body {
    background: #151515ef;
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: white;
    padding-top: 60px; /* Add padding to account for the fixed header */
}

.header {
    background: $gradientBg;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    margin-bottom: 25px;
    padding: 10px 0;
    height: 800px;
    color: #fff;
    padding: 10px 20px;
    overflow: hidden; /* Add this line to hide overflow */
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0; /* Remove default margin on h1 */
}

.sidepanel {
    background: $gradientBg;
    width: 200px; /* Adjust the width as per your preference */
    height: 100%; /* This will make it fill the height of the viewport */
    position: fixed;
    left: 0;
    top: 0;
    padding: 20px;
}

.content {
    padding: 20px;
    margin-top: 60px; /* Add margin to prevent content from being hidden by the fixed header */
}
