// WRITTEN BY SCARRUS

@font-face 
{
    font-family: 'Devant';
    src: url('/fonts/Devant/Devant-Medium.eot');
    src: local('Devant Medium'), local('Devant-Medium'),
        url('/fonts/Devant/Devant-Medium.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Devant/Devant-Medium.woff2') format('woff2'),
        url('/fonts/Devant/Devant-Medium.woff') format('woff'),
        url('/fonts/Devant/Devant-Medium.ttf') format('truetype'),
        url('/fonts/Devant/Devant-Medium.svg#Devant-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face 
{ 
    font-family: blanka; 
    src: url('/fonts/blanka/Blanka.otf');  
} 

@font-face 
{ 
    font-family: outage; 
    src: url('/fonts/Outage/Outage.ttf');  
} 

@font-face 
{ 
    font-family: outage-cut; 
    src: url('/fonts/Outage/Outage_Cut.ttf');  
} 

@font-face 
{ 
    font-family: borg; 
    src: url('/fonts/Borg.ttf');  
} 

@font-face 
{ 
    font-family: raptor; 
    src: url('/fonts/raptor_sans_font.ttf');  
} 

@font-face 
{ 
    font-family: alien-world; 
    src: url('/fonts/alien-world-font/AlienWorld-owj0x.ttf');  
} 

@font-face 
{ 
    font-family: alien-world-italic; 
    src: url('/fonts/alien-world-font/AlienWorldItalic-X32VG.ttf');  
} 

@font-face 
{ 
    font-family: asher-punk; 
    src: url('/fonts/asher-punk-font/AsherPunkDemoVersion-ALZJ2.ttf');  
} 

@font-face 
{ 
    font-family: charles-george-font; 
    src: url('/fonts/charles-george-font/CharlesGeorgeRegular-MVjZJ.ttf');  
} 

@font-face 
{ 
    font-family: dirtchunk-font; 
    src: url('/fonts/dirtchunk-font/Dirtchunk-0W0AR.otf');  
} 

// POTENTIAL
@font-face 
{ 
    font-family: gadems-font; 
    src: url('/fonts/gadems-font/GademsPersonalUseOnly-Yz43o.otf');  
} 

@font-face 
{ 
    font-family: geek-trend-font; 
    src: url('/fonts/geek-trend-font/GeekTrendDemoRegular-qZl6x.ttf');  
} 

@font-face 
{ 
    font-family: glitch-goblin-font; 
    src: url('/fonts/glitch-goblin-font/GlitchGoblin-2O87v.ttf');  
} 

//POTENTIAL
@font-face 
{ 
    font-family: procyon-font; 
    src: url('/fonts/procyon-font/Procyon-rgjAK.ttf');  
} 

@font-face 
{ 
    font-family: robotron-font; 
    src: url('/fonts/robotron-font/Robotron-0Wvvo.ttf');  
} 

// VIELLEICHT
@font-face 
{ 
    font-family: robotron-font-2; 
    src: url('/fonts/robotron-font/Robotron-owvvA.ttf');  
} 

@font-face 
{ 
    font-family: sd-glitch-2-font; 
    src: url('/fonts/sd-glitch-2-font/SdglitchdemoRegular-YzROj.ttf');  
} 

@font-face 
{ 
    font-family: space-armor-font; 
    src: url('/fonts/space-armor-font/SpaceArmor-vmlv4.otf');  
} 

@font-face 
{ 
    font-family: space-monkey-font; 
    src: url('/fonts/space-monkey-font/SpaceMonkeyBold-Ea5On.otf');  
} 

@font-face 
{ 
    font-family: techno-charm-version-font; 
    src: url('/fonts/techno-charm-version-font/TechnoCharmDemoVersionRegular-ALaZm.otf');  
} 

@font-face 
{ 
    font-family: technos-font; 
    src: url('/fonts/technos-font/Technos-PKDZP.otf');  
} 

@font-face 
{ 
    font-family: teroxia-font; 
    src: url('/fonts/teroxia-font/TeroxiaDemoPersonalUse-GOxoD.otf');  
} 

@font-face 
{ 
    font-family: valorax-font; 
    src: url('/fonts/valorax-font/Valorax-lg25V.otf');  
} 