#x-guest-layout {
    background-color: rgba(76, 76, 76, 1);
    
}

body {
    background-color: black;
}

button {
    background-color: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
linear-gradient(0deg, #5E5D5D, #5E5D5D);

}